@media all and (min-width: 700px) {
  /* header */
  nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    color: #fff;
    padding: 0px 5% 0px 5%;
    overflow: hidden;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
     background-color: #fff2ac;
  }

  /* grid layout */
  .project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    width: 80%;
    height: 100%;
    margin: 30px auto 0 auto;
  }

  .projects-section > p {
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    line-height: 60px;
  }
  .copyright-container > p {
    text-align: center;
    color: #1b1b1b;
    line-height: 30px;
    position: relative;
    
  }
  
.a-nav-link {
  color: #fff;
}

  /* Tone down the animation to avoid vestibular motion triggers like scaling or panning large objects. */
 prefers-reduced-motion {
  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

/* 
  By default, we'll use the REDUCED MOTION version of the animation.
*/
@keyframes modal-enter {
  from {
    opacity: 0 ;
  }
  to {
    opacity: 1 ;
  }
}

/*
  Then, if the user has NO PREFERENCE for motion, we can OVERRIDE the
  animation definition to include both the motion and non-motion properties.
*/
@media ( prefers-reduced-motion: no-preference ) {
  @keyframes modal-enter {
    from {
      opacity: 0 ;
      transform: scale(0.7) ;
    }
    to {
      opacity: 1 ;
      transform: scale(1.0) ;
    }
  }
}

  /* header */
  #nav-links > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  li > a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    line-height: 30px;
    margin: 0 20px 0 20px;
    font-weight: normal;
    font-size: 20px;
  }
/* about us content */
  .css-typewriting-container .static-text {
    font-size: 55px;
    color: #e1e1e1;
    font-weight: 700;
  }

  .css-typewriting-container .dynamic-text {
    margin-left: 15px;
    height: 56px;
    font-size: 55px;
    font-weight: 700;
  }

  .dynamic-text li {
    list-style: none;
    color: #fdde6d;
  }

 

  .css-typewriting-container-2 .static-text-2 {
    font-weight: 300;
    font-size: 30px;
    color: #e1e1e1;
  }

  .css-typewriting-container-2 .dynamic-text-2 {
    margin-left: 10px;
    height: 33px;
    font-size: 30px;
    font-weight: 400;
    overflow: hidden;
  }

  .dynamic-text-2 li {
    list-style: none;
    color: #fdde6d;
    position: relative;
    top: 0;
    animation: slide-2 15s steps(3) infinite;
  }

 

  .about-us-content > p {
    font-size: 20px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);
    padding: 20px 150px 0px 0px;
  }

  .project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    width: 80%;
    height: 100%;
    margin: 30px auto 0 auto;
  }

  
  .projects-section > p {
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    line-height: 60px;
  }

  

  @keyframes typing-2 {
    100% {
      left: 100%;
      margin: 0 -30px 0 30px;
    }
  }

  @keyframes slide-2 {
    100% {
      top: -105px;
      margin: 0 0 0 0;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
      border-radius: 100%;
    }

    100% {
      transform: rotate(360deg);
      border-radius: 100%;
    }
  }
}




@media all and (max-width: 1024px) {

 



}