/* universal selector */
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mark-Pro", sans-serif;
}
/* general styling */
html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: #fff4d6;
  border-radius: 1rem;
}
.lg-heading {
  font-size: 3rem;
}

.lf-heading {
  font-size: 2rem;
}

.text-secondary {
  color: #301201;
}

@font-face {
  font-family: "Mark Pro", sans-serif;
  src: url("./fonts/Mark-Pro.ttf");
}

/* about us and images by the side styling started */
/* Hero */
#hero {
  height: calc(100vh - 74.5px);
  background-color: #fff4d6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
}

/* Hero Information */

#hero_info {
  display: grid;
  grid-gap: 20px;
  justify-items: center;
}

#hero h1 {
  color: #141414;
  font-family: "Open Sans", sans-serif;
  font-size: 2.7em;
  line-height: 1;
  text-align: center;
}

#hero p {
  font-size: 1.5em;
  text-align: center;
  opacity: 0.7;
  max-width: 500px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#hero button {
  background-color: #a57f60;
  color: #fff;
  font-size: 1em;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 25px;
}

.card_img_con {
  width: 100%;
  height: 300px;
  background: url(./images/unsplash.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 4px;
}

/* about us and images by the side styling ended */

/* /* project section for wood start */
*/ .projects-section {
  margin-top: 80px;
}

.project-image-container {
  overflow: hidden;
  width: 95%;
  border-radius: 10px 10px 0px 0px;
}

.project-image {
  width: 80%;
  object-fit: cover;
  object-position: center;
}

.project-content {
  background: #0d0d0d;
  padding: 32px;
  border-radius: 0px 0px 10px 10px;
  width: 95%;
}

.project-content > p {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  height: 30px;
  overflow: hidden;
}

.about-project {
  color: rgba(255, 255, 255, 0.7);
  margin-top: 10px;
  height: 80px;
  display: flex;
  align-items: center;
}

.check-project {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}

.check-project > a {
  color: #ffffff;
  font-size: 20px;
  font-weight: normal;
}

.check-project > a:hover {
  transition: all 0.2s ease-in;
  color: #fdde6d;
}

div.a-project-card {
  position: relative;
  transition-property: margin-top;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

div.a-project-card:hover {
  margin-top: -10px;
}

/* project section for wood ended */

/* contact section start */
.contact-me {
  text-align: center;
  margin-top: 70px;
}

.contact-me > * {
  margin: 30px 0;
}

.contact-me > div {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #5a2202;
}

.contact-me > a {
  font-size: 19px;
  line-height: 37px;
  color: #0f0f0f;
  text-decoration: none;
}

.contact-me > a:hover {
  color: #5a2202;
  transition: all 0.2s ease-in-out;
}

.contact-me > span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-me > span > a {
  color: #5a5a5a;
  margin: 0 15px;
  font-size: 20px;
}

.contact-me > span > a:hover {
  color: #5a2202;
  transition: all 0.2s ease-in-out;
}
/* contact section end */

/* wood images  */
img {
  min-width: 100%;
}
/* end of wood images width */

@keyframes typing {
  40%,
  60% {
    left: calc(100% + 20px);
  }
  100% {
    left: 0;
    margin: 0 -35px 0 20px;
  }
}

@keyframes typing-2 {
  100% {
    left: 100%;
    margin: 0 -30px 0 30px;
  }
}

@keyframes stack-animation {
  100% {
    margin-left: -1570px;
    display: none;
  }
}
